*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    width: 100%;
    outline: none;
    font-family: ''Plus Jakarta Sans'';
}
.section-1{
    width: 100%;
    min-height: 100vh;
    background-image: url(./img/pngegg\ 1.png);
}
nav{
    min-height: 76px;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
margin-left: 15px;
}
.logo img {
    width: 183px;
    height: 47.33px;
}
.navbar{
 display: flex;
 align-items: center;
 justify-content: flex-end;
list-style-type: none;
}  
.navbar li{
    list-style-type: none;
    
}
.navbar li a{
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    padding: 5px 0;
    margin: 0 30px;   
}
.language{ 
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.012em;
    text-align: center;
}

.hero-tag{
    color: #0a1634;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    width: 80%;
    padding-bottom: 50px;
}

.carat{
    margin-top: 5px;
}
.blog{
         width: 46px;
        height: 25px;
        font-family: ''Plus Jakarta Sans'';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.012em;   
        color: #000000;
}
/* .btn{
    background: #154BD6;
    border-radius: 25px;
    font-family: ''Plus Jakarta Sans'';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 15px 18px;
    border: none;
} */
.content {
    position: relative;
    display: flex;
    margin:0 auto;
    margin-top: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content p{
    line-height: 1.5;
    width: 710px;
    text-align: center;
}
.email{
    width: 500px;
    height: 70px;
    margin-top: 30px;
    padding-left: 25px;
    font-size: 20px;
    background: #EEF1FB;
    border: 0.5px solid #154BD6;
    border-radius: 10px;
} 
.btn{
    width: 204px;
    padding: 20px 30px;
    background: #154BD6;
    border: none;
    color: #FFFFFF;
    height: 70px;
    margin-top: 28px;
    border-radius: 40px;
    font-size: 25px;
}
.btn:hover{
    background: #2c54b9;
    color: #000;
}
.hamburger {
    display: none;
}
.bar {
    display: block;
    background-color: #000;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
} 
main {
    width: 100%;
}
.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 min(3.85%, 55.5px);
    margin-top: 150px;
}
.section-2-header {
    display: flex;
    justify-content: center;
    align-items: center;

}
.hero-tag-2{
    font-size: 70px;
    text-align: center;
}
.hero-tag-3{
    font-size: 75px;
}
.section-2-boxes {
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    row-gap: 45px;
    column-gap: 1.5em;
    justify-content: center;
    align-items: center;
}
.section-2-box {
    background: #F4F6FC;
    width: 33%;
    max-width: 430px;
    height: 416px;
    color: #fff;
    flex: 1;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 45px 60px;
}
.section-2-box h2 {
    font-family: 'Plus Jakarta Sans';
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    color: #15317A;
    letter-spacing: 0.012em;
    text-align: center;
}
.section-2-box p {
    font-family: 'Plus Jakarta Sans';
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    line-height: 20px;
    letter-spacing: 0.012em;
    text-align: center;
    color: #5A5A5F;
}
.section-2-box img {
    margin:26px 0 0 55px;
}
.section-3-header{
    margin-top: 150px;
    text-align: center;
}
.section-3-boxes{
    margin-top: 120px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 100px;
    column-gap: 1.5em;
}
.section-box-3{
    background: #F4F6FC;
    width: 50%;
    max-width: 630px;
    height: 450px;
    color:#15317A;
    line-height: 45px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 45px 60px;
}
.section-box-3 h2{
    font-size: 42px;
    line-height: 60px;
    text-align: center;
    font-weight: 600;
}
.section-box-3 p{
    margin-top: 45px;
    color: #5A5A5F;
    line-height: 30px;
    text-align: center;
    letter-spacing: 1.2%;
    font-size: 25px;
}
.section-4{
    margin-top: 150px;
    position: relative;
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
    background: url(./img/BG.png);
}

.section-4 h2{
    position: absolute;
    top: 16%;
    color: #ffff;
    font-family: 'Plus Jakarta Sans';
    font-size: 64px;
    font-weight: 800;
    line-height: 81px;
    letter-spacing: 0.012em;
    text-align: center;
}
.section-4 .cls{
    position: absolute;
    top: 60%;
}
.section-5{
    background: #F4F6FC;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 40px;
    padding: 100px min(5.69%, 66px) 240px min(5.69%, 66px);
}
.section-5-container {
    padding-top: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 30px min(2.08%, 30px);
}

.section-5-box {
    display: flex;
    flex-flow: column;
    align-items: center;
    flex: 1;
    gap: 24px;
    background: linear-gradient(0deg, #FCFCFC, #FCFCFC), linear-gradient(0deg, #F4F6FC, #F4F6FC), #F4F6FC;
    max-width: 302px;
    padding: 27px 21px;
}

.section-5 .box-cont {
    width: 91.56px;
    height: 91.56px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-5 h1{
    color: #0A1634;
    font-family: 'Plus Jakarta Sans';
    font-size: 75px;
    font-weight: 800;
    line-height: 95px;
    letter-spacing: 0.012em;
    text-align: center;
}
#sec-5{
    font-family: 'Plus Jakarta Sans';
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.012em;
    text-align: center;
}
.section-5 h2 {
    color:#0A1634;
    font-family: 'Plus Jakarta Sans';
    font-size: 24px;
    font-weight: 800;
    line-height: 18px;
    letter-spacing: 0.012em;
    text-align: center;
}
.section-5 p {
    color: #0A1634;
    font-family: 'Plus Jakarta Sans';
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.012em;
    text-align: center;
}

.btn-1{
    width: 200px;
    padding: 12px 15px;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    border-radius: 25px;
    color: #154BD6;
    background:#FCFCFC ;
    border: 1px solid #2A66FF;
    
}
.section-5 .box-cont > img {
    margin: 0;
}
.section-5 .cont1{
    background: #EEFAFF;
}
.section-5 .cont2{
    background: #EEFAFF;
}
.section-5 .cont3 {
    background: #EEFBFF;
}
.section-5 .cont4{
    background: #FAF5FC;
}
.section-6 {
    display: block;
    padding: 15px;
}
.section-6 h1{
    margin-top:90px ;
    color: #0A1634;
    font-family: 'Plus Jakarta Sans';
    font-size: 75px;
    font-weight: 800;
    line-height: 95px;
    letter-spacing: 0.012em;
    text-align: center;
}
.section-6 p{
    text-align: center;
    margin-top: 20px;
}
.sec-6-cont{
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items:center;
}
.faq-item {
    width: 50%;
    max-width: 944px;
    margin-top: 20px;
    padding-bottom: 15px;
    border-bottom: 0.5px solid #1E1E1E;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faq-item p {
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    color: #1E1E1E;
    text-align: center;
}
.faq-item .ion-icon {
    color: #000;
    font-size: 26px;
    cursor: pointer;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    height: 400px;
    background: #15317A;
}
.footer-sec .sec{
    margin-left: 50px;
}
.socials{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 15px;
}
.stud {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.stud a {
    margin: 0 5px;
    color: #fff;
    text-decoration: none;
}
.socials-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1E1E1E;
    border: none;
    border-radius: 50%;
    margin: 20px 10px;
    text-align: center;
    height: 50px;
    width: 55.2147216796875px;
    font-size: 12px;
}
@media screen and (min-width: 1281px) and (max-width:1505px) {
    
}
@media only screen and (max-width: 1280px){
    .section-box-3{
        max-width: 500px;
    }
    .section-3-boxes{
        column-gap: 60px;
    }
}

@media only screen and (max-width: 1024px) {
    body{
        width: 100%;
    }
    .section-1 {
        text-align: center;
        min-width: 100%;
    }
    .section-box-3 {
        max-width: 430px;
    }
    .section-box-3 h2{
        line-height: 45px;
    }
    .section-box-3 p{
        line-height: 25px;
        font-size: 23px;
    }
    .section-4 .cls{
        margin-top: 30px;
    }
    .section-5-container{
        column-gap: 60px;
    }
    .section-5-box{
        min-width: 402px;
        column-gap: 100px;
    }
    .section-5-box p{
        line-height: 28px;
    }
    .faq-item p{
        text-align: left;
    }
}
@media screen and (max-width:912px) {
    .content{
        text-align: center;
    }
    .section-box-3{
        max-width: 400px;
    }
    .section-5-box{
        min-width: 360px;
    }
}
@media screen and (max-width:820px){
    .content p{
        line-height: 1.8;
        text-align: left;
    }
    .hero-tag-2 {
        font-size: 60px;
        text-align: center;
    }
    .section-2-box h2 {
        font-size: 26px;
        font-weight: 700;
        line-height: 33px
}
.section-box-3{
    max-width: 350px;
}
.section-box-3 h2{
    font-size: 36px;
    line-height: 40px;
}
.section-4 h2 {
    font-size: 54px;
    line-height: 65px;
}
.section-5-box{
    min-width: 320px;
}
}
@media screen and (max-width:768px){
    .content p {
    line-height: 1.2;
    }
    .section-2-box {
    width: 100%;
    min-width: 700px;
    text-align: center;
    }
    .section-2-box h2 {
    font-family: 'Plus Jakarta Sans';
    font-size: 38px;
    font-weight: 700;
    line-height: 55px;
    }
    .section-2-box p {
    font-size: 24px;
    margin-top: 20px;
    line-height: 40px;
    }
    .section-box-3{
    min-width: 700px;
    }
    .section-box-3 h2{
    font-size: 50px;
    line-height: 60px;
    }
    .section-box-3 p {
    margin-top: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 30px;
    }
    .section-4 h2{
    font-size: 44px;
    line-height: 65px;
    }
    .email{
        width: 350px;
    }
    .section-5-box{
    min-width: 220px;
    }
    @media screen and (max-width:540px){
    .navbar{
        display:none;
    }
    .hamburger {
        display: block;
        cursor: pointer;
        margin-right: 16px;
    }
    .hero-tag-2 {
        font-size: 50px;
    }
    .hero-tag-3 {
        margin-top: 50px;
        font-size: 50px;
    }
    .content p {
        line-height: 1.5;
        width: 510px;

    }
    .section-2-box {
        min-width: 300px;
    }
    .section-2-box h2{
        font-size: 24px;
        font-weight: 700;
        line-height: 35px;
    }
    .section-2-box p {
        font-size: 18px;
        font-weight: 500;
        line-height: 25px;
        margin-top: 50px;
    }
    .section-2{
        margin-top: 120px;
    }
    .section-box-3{
        min-width: 430px;
    }
    .section-box-3 h2{
        font-size: 32px;
        line-height: 40px;
    }
    .section-box-3 p{
        font-size: 20px;
    }
    .section-4 h2{
        font-size: 35px;
        line-height: 60px;
    }
    .cls input{
        margin-left: 100px;
        margin-top: -15px;
    }
    .cls button{
        margin-left: 185px;
        width: 150px;
        font-size: 19px;
        padding: 15px 20px;
    }
    .section-5 h1{
        font-size: 55px;
        line-height: 70px;
    }
    #sec-5{
        line-height: 30px;
    }
    .section-5-box{
        min-width: 460px;
    }
    .section-6 h1{
        font-size: 62px;
    }
    .section-6 > p {
        font-size: 22px;
    }
    .faq-item{
        width: 72%;
    }
}
@media screen and (max-width:414px){
    .hero-tag{
        font-size: 45px;
    }
    .content p{
        width: 300px;
        text-align: center;
    }
    .section-2-box {
        min-width: 260px;
    }
    .section-2-box p{
        margin-top: 10px;
    }
    .section-box-3{
        min-width: 330px;
    }
    .section-box-3 h2{
        font-size: 27px;
        line-height: 35px;
    }
    .section-box-3 p{
        font-size: 21px;
        line-height: 25px;
    }
    .section-4 h2{
        font-size: 26px;
    }
    .section-5-box {
        min-width: 360px;
    }
    .cls input{
        width: 250px;
        margin-left: 90px;
    }
    .cls button{
        width: 150px;
        padding: 8px 14px;
        margin-left: 130px;
    }
}
}